<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LENGTH RESULT</title>
</head>
<body>
    <h1>Your name <%= firstName %> <%= lastName %> has <%= result %> characters 😊😇</h1>
</body>
</html>