<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MATCH❤️💕MAKER</title>
    </head>

    <body>
        <form action="/match" method="post">

            <input type="text" name="urName" placeholder="Enter your name">
            <input type="text" name="LoverName" placeholder="Enter your Lover's name">
            <button type="submit">SEND</button>
        </form>
    </body>

</html>
